# Ignore node_modules directory
node_modules/

# Ignore lock files
package-lock.json
.package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore other common Node.js files/folders
dist/
.dist/
build/
coverage/
.nyc_output/
npm-debug.log*

# Ignore environment variables.
.env
uploads/